.card__delete {
    background-color: var(--color-text-red);
    text-align: center;
    color: var(--color-text);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card__delete:hover {
    background-color: var(--color-text-light-red);
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.card__delete:disabled {
    background-color: var(--color-text-light-light-gray);
    color: var(--color-text-gray);
    cursor: not-allowed;
    box-shadow: none;
}

.delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 50px;
    gap: 10px;
}
